wsImage/WebContent/wsdl/UploadMedia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bituos.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bituos.com" xmlns:intf="http://bituos.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bituos.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="saveFile">
    <complexType>
     <sequence>
      <element name="infoBytes" type="xsd:base64Binary"/>
      <element name="authorizationCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveFileResponse">
    <complexType>
     <sequence>
      <element name="saveFileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authorizeUrl">
    <complexType/>
   </element>
   <element name="authorizeUrlResponse">
    <complexType>
     <sequence>
      <element name="authorizeUrlReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saveFileRequest">

      <wsdl:part element="impl:saveFile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authorizeUrlResponse">

      <wsdl:part element="impl:authorizeUrlResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authorizeUrlRequest">

      <wsdl:part element="impl:authorizeUrl" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveFileResponse">

      <wsdl:part element="impl:saveFileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UploadMedia">

      <wsdl:operation name="saveFile">

         <wsdl:input message="impl:saveFileRequest" name="saveFileRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveFileResponse" name="saveFileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authorizeUrl">

         <wsdl:input message="impl:authorizeUrlRequest" name="authorizeUrlRequest">

       </wsdl:input>

         <wsdl:output message="impl:authorizeUrlResponse" name="authorizeUrlResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UploadMediaSoapBinding" type="impl:UploadMedia">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="saveFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authorizeUrl">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authorizeUrlRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authorizeUrlResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UploadMediaService">

      <wsdl:port binding="impl:UploadMediaSoapBinding" name="UploadMedia">

         <wsdlsoap:address location="http://localhost:8080/wsImage/services/UploadMedia"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
