bituosSMS/WebContent/wsdl/SMSServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://SMS.bituos.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://SMS.bituos.com" xmlns:intf="http://SMS.bituos.com" xmlns:tns1="http://Beans.SMS.bituos.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://SMS.bituos.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Beans.SMS.bituos.com"/>
   <element name="getName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSMSList">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSMSListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSMSListReturn" type="tns1:BeanSms"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://Beans.SMS.bituos.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="BeanSms">
    <sequence>
     <element name="date_reg" nillable="true" type="xsd:dateTime"/>
     <element name="date_register" nillable="true" type="xsd:dateTime"/>
     <element name="date_send" nillable="true" type="xsd:dateTime"/>
     <element name="id" type="xsd:int"/>
     <element name="id_status" type="xsd:int"/>
     <element name="msg" nillable="true" type="xsd:string"/>
     <element name="number" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSMSListResponse">

      <wsdl:part element="impl:getSMSListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSMSListRequest">

      <wsdl:part element="impl:getSMSList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SMSServer">

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSMSList">

         <wsdl:input message="impl:getSMSListRequest" name="getSMSListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSMSListResponse" name="getSMSListResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SMSServerSoapBinding" type="impl:SMSServer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSMSList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSMSListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSMSListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SMSServerService">

      <wsdl:port binding="impl:SMSServerSoapBinding" name="SMSServer">

         <wsdlsoap:address location="http://localhost:8080/bituosSMS/services/SMSServer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
